/* Created by: MariaG
 * Modified by: Kukwac
 * Created on: April 2025
 * This CSS file defines the style for index.php
 * ICD2O-Unit3-03-PHP-VolumeSphere
*/

form {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

h1 {
    background-color: #64db74;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

h3 {
    background-color: #7e46d8;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

p {
    width: 80%;
    margin-left: 10%;
}

iframe {
    margin-bottom: 5%;
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}

#yellow {
    background-color: #27b150;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}